ALERT_CHECK_MS=
ALLOW_DEMO_LOGIN=
AUTH_SECRET=
DEFAULT_COUNTRY_CODE=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEMPLATE_LANG=
WHATSAPP_TEMPLATE_NAME=
WHATSAPP_TOKEN=